/* src/App.css or src/index.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fce4e4; /* Light background color */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  text-align:justify;
}

#root {
  flex: 1; /* Allows root to take full height */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

main {
  flex: 1; /* This allows the main content area to take up available space */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Start from the top */
  padding: 20px; /* Add some padding */
}

/* Style for footer */
footer {
  background-color: #151615;
  color: white;
  text-align: center;
  padding: 10px 0;
}
