/* src/components/Card.css */

.card {
    border: 1px solid #111010;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #b7b5b5;
  }
  
  .card h3 {
    margin: 0;
  }
  
  .card-content {
    margin-top: 12px;
  }
  